<!--/inner-page-->
<div class="inner-banner py-5">
    <section class="w3l-breadcrumb text-left py-sm-5 ">
        <div class="container">
            <div class="w3breadcrumb-gids">
                <div class="w3breadcrumb-left text-left">
                    <h2 class="inner-w3-title mt-sm-5 mt-4">
                        Nos produits </h2>

                </div>
                <div class="w3breadcrumb-right">
                    <ul class="breadcrumbs-custom-path">
                        <li><a href=" ">Home</a></li>
                        <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Products </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
</div>
<!--//inner-page-->
<!--/w3l-blog-->
<section class="w3l-blog">
    <div class="blog py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row justify-content-center">
                <!--/w3l-blopagew3-left-->
                <div class="col-lg-8 blopagew3-left">
                    <div class="row">
                        <div class="col-md-6 item">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blog-single.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="assets/images/g1.jpg" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body blog-details">

                                    <a href="blog-single.html" class="blog-desc">Private Contemporary Home Balancing Openness</a>
                                    <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="author align-items-center">
                                        <a href="#author" class="post-author">
                                            <img src="assets/images/team1.jpg" alt="" class="img-fluid rounded-circle">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <span class="meta-value">by</span><a href="#author"> David Marks</a>
                                            </li>
                                        </ul>
                                        <div class="date">
                                            <p>20 Oct, 2021</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 item mt-md-0 mt-5">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blog-single.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="assets/images/g2.jpg" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body blog-details">

                                    <a href="blog-single.html" class="blog-desc">How Does A Designer Home Look Like</a>
                                    <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="author align-items-center">
                                        <a href="#author" class="post-author">
                                            <img src="assets/images/team2.jpg" alt="" class="img-fluid rounded-circle">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <span class="meta-value">by</span><a href="#author"> Lynda Stone</a>
                                            </li>
                                        </ul>
                                        <div class="date">
                                            <p>22 Oct, 2021</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 item mt-5">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blog-single.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="assets/images/g3.jpg" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body blog-details">

                                    <a href="blog-single.html" class="blog-desc">Private Contemporary Home Balancing Openness</a>
                                    <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="author align-items-center">
                                        <a href="#author" class="post-author">
                                            <img src="assets/images/team3.jpg" alt="" class="img-fluid rounded-circle">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <span class="meta-value">by</span><a href="#author"> David Nelson</a>
                                            </li>
                                        </ul>
                                        <div class="date">
                                            <p>23 Oct, 2021</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 item mt-5">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blog-single.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="assets/images/g4.jpg" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body blog-details">

                                    <a href="blog-single.html" class="blog-desc">Private Contemporary Home Balancing Openness</a>
                                    <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="author align-items-center">
                                        <a href="#author" class="post-author">
                                            <img src="assets/images/team1.jpg" alt="" class="img-fluid rounded-circle">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <span class="meta-value">by</span><a href="#author"> David Marks</a>
                                            </li>
                                        </ul>
                                        <div class="date">
                                            <p>20 Oct, 2021</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 item mt-5">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blog-single.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="assets/images/g5.jpg" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body blog-details">

                                    <a href="blog-single.html" class="blog-desc">How Does A Designer Home Look Like</a>
                                    <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="author align-items-center">
                                        <a href="#author" class="post-author">
                                            <img src="assets/images/team2.jpg" alt="" class="img-fluid rounded-circle">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <span class="meta-value">by</span><a href="#author"> Lynda Stone</a>
                                            </li>
                                        </ul>
                                        <div class="date">
                                            <p>22 Oct, 2021</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 item mt-5">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blog-single.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="assets/images/g6.jpg" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body blog-details">

                                    <a href="blog-single.html" class="blog-desc">How Does A Designer Home Look Like</a>
                                    <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="author align-items-center">
                                        <a href="#author" class="post-author">
                                            <img src="assets/images/team2.jpg" alt="" class="img-fluid rounded-circle">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <span class="meta-value">by</span><a href="#author"> Lynda Stone</a>
                                            </li>
                                        </ul>
                                        <div class="date">
                                            <p>22 Oct, 2021</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 item mt-5">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blog-single.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="assets/images/g3.jpg" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body blog-details">

                                    <a href="blog-single.html" class="blog-desc">Private Contemporary Home Balancing Openness</a>
                                    <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="author align-items-center">
                                        <a href="#author" class="post-author">
                                            <img src="assets/images/team3.jpg" alt="" class="img-fluid rounded-circle">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <span class="meta-value">by</span><a href="#author"> David Nelson</a>
                                            </li>
                                        </ul>
                                        <div class="date">
                                            <p>23 Oct, 2021</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 item mt-5">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blog-single.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="assets/images/g4.jpg" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body blog-details">

                                    <a href="blog-single.html" class="blog-desc">Private Contemporary Home Balancing Openness</a>
                                    <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="author align-items-center">
                                        <a href="#author" class="post-author">
                                            <img src="assets/images/team1.jpg" alt="" class="img-fluid rounded-circle">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <span class="meta-value">by</span><a href="#author"> David Marks</a>
                                            </li>
                                        </ul>
                                        <div class="date">
                                            <p>20 Oct, 2021</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//w3l-blopagew3-left-->
                <!--/w3l-blopagew3-right-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12 mt-lg-0 mt-5">
                    <aside class="sidebar ps-lg-4">
                        <div class="sidebar-blog-category">
                            <!-- Popular Post Widget-->
                            <div class="sidebar-widget popular-posts">
                                <div class="sidebar-title">
                                    <h4>Latest Post</h4>
                                </div>

                                <article class="post">
                                    <figure class="post-thumb"><img src="assets/images/d1.jpg" class="radius-image" alt=""></figure>
                                    <div class="text"><a href="blog-single.html">Why we are the best in the business
                                        </a>
                                        <div class="post-info">Oct 19, 2021 - 2 comments</div>
                                    </div>
                                </article>

                                <article class="post">
                                    <figure class="post-thumb"><img src="assets/images/d2.jpg" class="radius-image" alt=""></figure>
                                    <div class="text"><a href="blog-single.html">Build your next landing page.
                                        </a>
                                        <div class="post-info">Oct 20, 2021 - 2 comments</div>
                                    </div>
                                </article>

                                <article class="post">
                                    <figure class="post-thumb"><img src="assets/images/d3.jpg" class="radius-image" alt=""></figure>
                                    <div class="text"><a href="blog-single.html">
                                            Simply the best. Better than the rest.</a>
                                        <div class="post-info">Oct 21, 2021 - 2 comments</div>
                                    </div>
                                </article>

                            </div>
                            <!--Blog Category Widget-->
                            <div class="sidebar-widget sidebar-blog-category">
                                <div class="sidebar-title">
                                    <h4>Blog Categories</h4>
                                </div>
                                <ul class="blog-cat">
                                    <li><a href="#url"><i class="fas fa-angle-double-right me-2"></i> Multimedia Insights </a></li>
                                    <li><a href="#url"><i class="fas fa-angle-double-right me-2"></i> Industry Insights </a></li>
                                    <li><a href="#url"><i class="fas fa-angle-double-right me-2"></i> Partner Insights</a></li>
                                    <li><a href="#url"><i class="fas fa-angle-double-right me-2"></i> Services Insights</a></li>
                                    <li><a href="#url"><i class="fas fa-angle-double-right me-2"></i> Company Insights</a></li>
                                    <li><a href="#url"><i class="fas fa-angle-double-right me-2"></i> Uncategorized</a></li>
                                </ul>
                            </div>

                            <div class="sidebar-widget sidebar-blog-category">
                                <div class="side-post-banner mb-5">
                                    <h3 class="title-left">Do you want to join our
                                        real estate network?</h3>
                                    <a href="#read" class="btn-style btn btn-primary mt-4"> Get Started <i class="fas fa-angle-double-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="sidebar-widget popular-posts">
                                <div class="sidebar-title">
                                    <h4>Featured agents</h4>
                                </div>

                                <article class="post">
                                    <figure class="post-thumb"><img src="assets/images/team1.jpg" class="radius-image" alt=""></figure>
                                    <div class="text align-self">
                                        <a href="blog-single.html">Johnson kerald </a>
                                        <div class="post-info">Kerald@gmail.com</div>
                                    </div>
                                </article>

                                <article class="post">
                                    <figure class="post-thumb"><img src="assets/images/team2.jpg" class="radius-image" alt=""></figure>
                                    <div class="text align-self"><a href="blog-single.html">BLouis Allie
                                        </a>
                                        <div class="post-info">Allie@gmail.com</div>
                                    </div>
                                </article>


                            </div>
                            <!-- sidebar sticky -->
                            <div class="sidebar-sticky">
                                <div class="sidebar-sticky-fix">
                                    <!-- Tags Widget-->
                                    <div class="sidebar-widget popular-tags">
                                        <div class="sidebar-title">
                                            <h4>Tags</h4>
                                        </div>
                                        <a href="#url">Listing</a>
                                        <a href="#url">Property</a>
                                        <a href="#url">Rent</a>
                                        <a href="#url">Sale</a>
                                        <a href="#url">Estate</a>
                                        <a href="#url">Villa</a>
                                        <a href="#url">Home</a>
                                    </div>

                                </div>
                            </div>
                            <!-- //sidebar sticky -->
                        </div>
                    </aside>
                </div>
                <!--//w3l-blopagew3-right-->
            </div>
            <!--/page-pagination-->
            <div class="pagination-wrapper mt-5 pt-lg-3">
                <ul class="page-pagination">
                    <li><span aria-current="page" class="page-numbers current">1</span></li>
                    <li><a class="page-numbers" href="#url">2</a></li>
                    <li><a class="page-numbers" href="#url">3</a></li>
                    <li><a class="page-numbers" href="#url">...</a></li>
                    <li><a class="page-numbers" href="#url">15</a></li>
                    <li><a class="next" href="#url">Next <span class="fa fa-angle-right"></span></a></li>
                </ul>
            </div>
            <!--//page-pagination-->
        </div>
    </div>
</section>
<!--//w3l-blog-->
