   <!--/footer-9-->
   <footer class="w3l-footer9">
    <section class="footer-inner-main py-5">
        <div class="container py-md-4">
            <div class="right-side">
                <div class="row footer-hny-grids sub-columns">
                    <div class="col-lg-3 sub-one-left">
                        <h6>A propos de SNTB </h6>
                        <p class="footer-phny pe-lg-5">Une entreprise de construction ecologique qui vous facilite la construction et la securité.</p>
                        <div class="columns-2 mt-4 pt-lg-2">
                            <ul class="social">
                                <li><a href="https://www.facebook.com/societedesnouvellestechnologiedubatiment?mibextid=ZbWKwL"><span class="fab fa-facebook-f"></span></a>
                                </li>
                                <li><a href="https://www.linkedin.com/company/sntbci/"><span class="fab fa-linkedin-in"></span></a>
                                </li>
                                <li><a href="https://www.tiktok.com/@sntbhabitatecologique?_t=8jOTulKQa5m&_r=1"><span class="fab fa-tiktok"></span></a>
                                </li>
                                <li><a href="https://www.instagram.com/sntb_8habitatecologique?igsh=dWlybGF0ZzVteTNh"><span class="fab fab fa-instagram"></span></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 sub-two-right">
                        <h6>Entreprise (SNTB)</h6>
                        <ul>

                            <li><a routerLink="about"><i class="fas fa-angle-right"></i> Qui somme nous</a>
                            </li>
                            <li><a routerLink="teams"><i class="fas fa-angle-right"></i> Devenir apporteur d'affaire
                                </a>
                            </li>
                            <li><a href="#log"><i class="fas fa-angle-right"></i> Devenire partenaire / fournisseur
                                </a></li>

                            <li><a href="#career"><i class="fas fa-angle-right"></i>Nos carrières</a></li>

                        </ul>
                    </div>
                    <div class="col-lg-2 sub-two-right">
                        <h6>Services</h6>
                        <ul>
                            <li><a routerLink="properties"><i class="fas fa-angle-right"></i> Construction & Reservation</a>
                            </li>
                            <li><a href="#research"><i class="fas fa-angle-right"></i> Vente de terrain</a>
                            </li>
                            <li><a href="#metal"><i class="fas fa-angle-right"></i> Aide procedure administatif (ACD)</a>
                            </li>
                            <li><a href="#metal"><i class="fas fa-angle-right"></i> Permis de construire </a>
                            </li>
                            <li><a href="#metal"><i class="fas fa-angle-right"></i> OPC (suivi & controle chantier) </a>
                            </li>
                            <li><a href="#metal"><i class="fas fa-angle-right"></i> Recherche de proprieté </a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-2 sub-two-right">
                        <h6>Explore (SNTB)</h6>
                        <ul>
                            <li><a href="#processing"><i class="fas fa-angle-right"></i> 
                                Opportun immo</a>
                            </li>
                            <li><a href="#research"><i class="fas fa-angle-right"></i> 
                                Nos bons plans</a>
                            </li>
                            <li><a href="#metal"><i class="fas fa-angle-right"></i> 
                                Nos actualités</a>
                            </li>
                        
                        </ul>
                    </div>
                    <div class="col-lg-3 sub-one-left ps-lg-5">
                        <h6>Restez à jour !</h6>
                        <p class="w3f-para mb-4">Abonnez-vous à notre newsletter pour recevoir notre flux hebdomadaire.</p>
                        <div class="w3l-subscribe-content align-self mt-lg-0 mt-5">
                            <form action="#" method="post" class="subscribe-wthree">
                                <div class="flex-wrap subscribe-wthree-field">
                                    <input class="form-control" type="email" placeholder="Email" name="email" required="">
                                    <button class="btn btn-style btn-primary" type="submit">
                                        S'abonner</button>
                                </div>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
            <div class="below-section mt-5 pt-lg-3">
                <div class="copyright-footer">
                    <div class="columns text-left">
                         <p>© 2022 SNTB. Tous droits réservés.</p>
                    </div>
                    <ul class="footer-w3list text-right">
                        <li><a href="#url">Privacy Policy</a>
                        </li>
                        <li><a href="#url">Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>


</footer>
<!--//footer-9 -->
